* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  height: 60px;
  width: 70px;
  margin-top: 2px;
}


.header-left {
  float: left;
}

.header-left img:hover {
  background-color: rgb(255,255,255);
  cursor: pointer;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* nita */
.lesson-wrapper {
  height: 500px;
    padding-bottom: 80px;
    background-color: #c6eff1f3;
    text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #091ed8;
  font-family: Verdana;
}

.lesson {
  float: left;
  width: 25%;
}

.zoom-effect {  
  position: relative;
  width: 50%;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;  
}

.zoom-effect:hover {
  -webkit-transform: scale(1.00);
  transform: scale(1.50);
}

.lesson-icon {
  position: relative;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 17px;
  font-family: sans-serif;
}

.message {
  padding: 15px 40px;
  background-color: #3e88e9;
  cursor: pointer;
  box-shadow: 0 7px #125286;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}




.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;  
  display: none;
}

footer {
  border-top: 1px solid gray;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
}

footer img {
  width: 70px;
}

footer p {
  color: #837f85;
  font-size: 12px;
}