* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  height: 60px;
  width: 70px;
  margin-top: 2px;
}


.header-left {
  float: left;
}

.header-left img:hover {
  background-color: rgb(255,255,255);
  cursor: pointer;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;  
  display: none;
}

footer {
  border-top: 1px solid gray;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
}

footer img {
  width: 70px;
}

footer p {
  color: #837f85;
  font-size: 12px;
}